@charset "UTF-8";

#username,#password,#rePassword,#mobile,#address{
    width: 300px;
    float: left;
}

#registBtn{
    width: 150px;
}

#resetBtn{
    width: 150px;
}

.usernameInfo{
    float: left;
    color: red;
}

.passwordInfo{
    float: left;
    color: red;
}

.rePasswordInfo{
    float: left;
    color: red;
}

.mobileInfo{
    float: left;
    color: red;
}

.addressInfo{
    float: left;
    color: red;
}