@charset "UTF-8";

#oldPassword,#password,#rePassword{
    width: 300px;
    float: left;
}

.oldPasswordInfo,.passwordInfo,.rePasswordInfo{
    float: left;
    color: red;
}

#editBtn,#resetBtn{
    float: left;
    width: 150px;
}